*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

/*Page 1 css area*/

.container-1{
    background-image: url("bg image 1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.header {
    height: 90px;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 10;
}

.header button {
    border-radius: 0px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    display: inline;
    float: left;
}

.header button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}

.header button:focus {
    outline: 0;
}

.header > .logo {
    font-size: 1em;
    margin: 1.6em 75px;
}

.header span {
    font-size: 0.5em;
    height: 100%;
    margin: 0px 50px;
}

.header span > button {
    height: 100%;
    padding: 0px 50px;
}

.header .profile {
    float: right;
}


.page1 h1{
    font-size: 72px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    padding-right: 4%;
    padding-top: 14%;
    padding-bottom: 3%;
    text-align: center;
}

.page1 h3{
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
}

.page1 button{
    color: black;
    font-weight: bold;
    margin-top: 4%;
    background-color: rgb(199, 170, 4);
    text-transform: uppercase;
    border: none;
    padding: 20px 85px;
    border-radius: 4px;
    display: inline-block;
}

.scroll-button{
    margin-top: 270px;
    text-align: center;
}

.scroll-button img{
    margin-bottom: 50px;
}

.scroll-button p{
    color: white;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 5px;
}
/*page 2 css area*/

.container-2{
    background-image: url("bg image 2.jpg");
    background-size: cover;
}

.text{
    padding-top: 230px;
    padding-left: 100px;
}
.text h3{
    color: white;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
}

.text h1{
    color: white;
    font-size: 56px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.carousel {
    width:858px;
    height:477px;
    margin-left: 30%;
    margin-top: -80px;
  }

  /* page 3 css area */

  .game-features {
    background-image: url(Group.jpg);
    background-size: cover;
    display: flex;
}

.game-features .row {
    width: -500rem !important;
}

.game-features .container {
    margin-top: 5rem;
    margin-left: 50rem;
}

.game-features h3 {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 2px;
    display: inline-block;
    color: #FFFFFF;
}

.text {
    margin-left: -2rem;
    margin-top: -15rem;
}

.game-features h1 {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 200px;
    color: #FFFFFF;
}

.game-features h2 {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 2px;
    display: inline-block;
    color: #FFB548;
    margin-left: 1rem;
}

.game-features p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin-left: 1rem;
    width: 360px;
    color: #FFFFFF;
}

.game-features img {
    width: 14px;
    height: 14px;
    display: block;
}

.progress-bar {
    border: 0.5px solid #FFFFFF;
    transform: rotate(90deg);
    margin-top: 4rem;
    margin-left: -4rem;
    margin-bottom: 4.2rem;
    width: 141px;
}

.suit{
    margin-top: 3.4rem;
}

.ellipse {
    margin-top: 3rem;
}

.tbd {
    display: block !important;
    margin-left: -23rem !important;
    margin-top: 1.5rem;
    margin-bottom: 15rem;
}

/* page 4 css area */

.container-4 img{
    margin-top: -35px;
    width: 100%;
}

.top-score {
    background-image: url("bg\ image\ 3.jpg");
    background-size: cover;
}

.top-score h1 {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.top-score h3 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    width: 24rem;
    margin-top: 1.5rem;
    color: #FFFFFF;
}

.top-score button {
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    width: 16.25rem;
    height: 3.75rem;
    margin-top: 3rem;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #1A1917;
}

.top-score .card-body {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    width: 28.287rem;
}

.circle {
    width: 65.27px;
    height: 65.27px;
    background-color: yellow;
    border-radius: 100%;
}

.card-body img {
    width: 65.27px;
    height: 65.27px;
    border-radius: 50%;
    margin-top: -0.3rem;
    margin-left: -0.3rem;
}

.card-body h3 {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    letter-spacing: 2px;
    color: #FFB548;

}

.card-body h3 {
    margin-top: -0.1rem;
    margin-left: -1rem;
}

.card-body h4 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */

    text-align: justify;

    color: #FFFFFF;

    opacity: 0.5;

    margin-top: -0.9rem;
    margin-left: -0.9rem;
}

.icon-twt img {
    width: 18px;
    height: 14px;
    margin-left: 5rem;
}

.card-body h5 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    margin-top: 1rem;
    color: #FFFFFF;
}

.date {
    color: #FFFFFF;
    opacity: 0.5;  
    margin-bottom: 0.4rem;  
}

.card-body{
    margin-bottom: 1rem;
}

/* .tengah{
    margin-left: -8rem;    
} */

.apit{
    margin-left: 8rem;
}

.utama{
    margin-top: 8rem;
}

.utama .desc{
    margin-top: 10rem;
    margin-bottom: 20rem;    
}

.subscribe {
    background-image: url("bg image 3.jpg");
    margin-top: -35px;
}

.subscribe img {
    background: url(image.png);
    border-radius: 50%;
}

.subscribe h3 {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;


    letter-spacing: 2px;

    color: #FFFFFF;
}

.subscribe h1 {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 92px;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.Subscribe p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF !important;
}

.subscribe .desc {
    color: white;
    padding-right: 1rem;
}

.subscribe input {
    background: rgba(255, 255, 255, 0.08) !important;
    border: none;
    margin-top: 4rem;
    width: 366.92px;
    height: 60px;
}

.subscribe button {
    margin-top: 4rem;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;

    text-align: center;
    text-transform: capitalize;

    color: #1A1917;
    height: 60px;
    width: 220px;
    margin-left: 7rem;
}

.border{
    width: 70rem;
    height: 1px;
    margin-left:7rem;
    background-color: #ffffff;
    text-align:center;
}
.teks  {
    display: flex;
    list-style-type: none;
    margin-left: 5rem;
   margin-bottom: 2rem;
}
.teks li a {
    margin-left: 6rem;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.teks-gambar {
    display: flex;
    list-style-type: none;
    padding-left: 75%;
}

.teks-gambar li a{
    padding: 0 20px;
}

.copyrigth {
    display: flex;
    justify-content: space-between;
    padding-right: 6rem;
    padding-left: 7rem;
    margin-top: 2rem;
}
 .copyrigth1{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
 }
 .copyrigth2{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;

 }